.content a{
  display:inline-block;
  font-size:50px;
  color:rgb(16, 205, 124);
  text-decoration: none;
  transition: all 1s ease;
}

.content a:hover{
  display:inline-block;
  font-size:50px;
  color:rgb(147, 233, 204);
  text-decoration: none;
  transform:rotateX(180deg) rotateY(290deg) rotateZ(30deg);
}

.content p{
  text-align: center;
  font-size:50px;
  color:rgb(16, 205, 124);
  text-decoration: none;
  transition: all 10s ease;
}

.content p:hover{
  display:inline-block;
  font-size:50px;
  color:rgb(147, 233, 204);
  text-decoration: none;
  transform:rotateX(18000deg) rotateY(29000deg) rotateZ(3000deg);
}

.content{
  margin: 0 20%;
  padding-top:20%;
}
