/*GROSSES SECTIONS*/
*{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing:border-box;
}

body{
  min-height: 666px;
}

header,
section,
aside,
footer {
  margin: 0 0 24px 0;
}

/*HEADER*/
.header{
  width:100%;
}

.blocphoto1{
  display:inline-block;
  width:24%;
  text-align: center;
}

.Titre{
  display:inline-block;
  width:50%;
  text-align: center;
}

.blocphoto2{
  display:inline-block;
  width:24%;
  text-align: center;
}

/*FOOTER*/
footer{
  background-color:rgb(250, 255, 227);
  padding:20px 0;
}

footer li{
  text-decoration:none;
  display:inline-block;
  border:1px black solid;
  padding:5px;
  background-color: rgb(143, 178, 255);
}

footer ul{
  display:inline-block;
}

.bloc1footer{
  display:inline-block;
  width:69%;
  padding-left:5%;
}

.bloc2footer{
  display:inline-block;
  text-align:center;
  width:30%;
}
