/*GROSSES SECTIONS*/
*{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing:border-box;
}

body{
  min-height: 666px;
}

header,
section,
aside,
footer {
  margin: 0 0 24px 0;
}

/*HEADER*/
.header{
  width:100%;
}

.blocphoto1{
  display:inline-block;
  width:24%;
  text-align: center;
}

.Titre{
  display:inline-block;
  width:50%;
  text-align: center;
}

.blocphoto2{
  display:inline-block;
  width:24%;
  text-align: center;
}

/*FOOTER*/
footer li{
  text-decoration:none;
  display:inline-block;
  border:1px black solid;
  border-collapse: collapse;
}
